nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 600px;
    margin: auto;
    margin-top: $spacing-sm;

    a {
        font-size: $font-size-md;
        color: $primary-color;
        transition: color $transition-instant;

        &:hover {
            color: $secondary-color;
        }
    }
}