.cat-progress-bar {
    @include flex(row, center, center);
    gap: $spacing-sm;

    .cat-progress-units-container {
        @include flex(row, center, center);

        gap: $spacing-xs;

        .cat-progress-unit {
            @include box(7px);
            background-color: $gray;
        }
    }

    .cat-progress-label {
        width: 75px;
        text-align: right;
        font-weight: 700;

        span {
            margin-left: $spacing-xs;
            color: $gray;
        }
    }

    .cat-progress-percentage {
        color: $secondary-color;
    }
}

#heatmap {
  width: 100%;
  height: 100px; // fixed container height
  display: grid;
  grid-template-columns: repeat(auto-fill, 10px); // fill horizontally
  gap: $spacing-xs;
  overflow: hidden;
  align-content: start;

    .heatmap-unit {
        @include box(10px);
    }
}