.cat-progress-bar {
    max-width: 210px;
    @include flex(row, center, center);
    gap: $spacing-sm;

    .cat-progress-units-container {
        @include flex(row, center, center);

        gap: $spacing-xs;

        .cat-progress-unit {
            @include box(7px);
            background-color: $gray;
        }
    }

    .cat-progress-label {
        width: 52px;
        text-align: right;
        font-weight: 700;
    }

    .cat-progress-percentage {
        color: $secondary-color;
    }
}