:root {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  background-color: $background-color;
  scrollbar-width: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;

  --primary-color: rgb(0, 255, 163);

  --primary-100-rgb: 204, 255, 229;
  --primary-100: rgb(var(--primary-100-rgb));
  
  --primary-200-rgb: 153, 255, 213;
  --primary-200: rgb(var(--primary-200-rgb));
  
  --primary-300-rgb: 102, 255, 188;
  --primary-300: rgb(var(--primary-300-rgb));
  
  --primary-400-rgb: 51, 255, 176;
  --primary-400: rgb(var(--primary-400-rgb));
  
  --primary-500-rgb: 0, 255, 163; /* base */
  --primary-500: rgb(var(--primary-500-rgb));
  
  --primary-600-rgb: 0, 204, 130;
  --primary-600: rgb(var(--primary-600-rgb));
  
  --primary-700-rgb: 0, 153, 98;
  --primary-700: rgb(var(--primary-700-rgb));
  
  --primary-800-rgb: 0, 102, 65;
  --primary-800: rgb(var(--primary-800-rgb));
  
  --primary-900-rgb: 0, 51, 32; 
  --primary-900: rgb(var(--primary-900-rgb));
  
  --accent-color: rgb(255, 229, 102);
  
  --accent-100-rgb: 255, 250, 204;
  --accent-100: rgb(var(--accent-100-rgb));
  
  --accent-200-rgb: 255, 243, 153;
  --accent-200: rgb(var(--accent-200-rgb));
  
  --accent-300-rgb: 255, 236, 128;
  --accent-300: rgb(var(--accent-300-rgb));
  
  --accent-400-rgb: 255, 232, 115;
  --accent-400: rgb(var(--accent-400-rgb));
  
  --accent-500-rgb: 255, 229, 102;
  --accent-500: rgb(var(--accent-500-rgb));
  
  --accent-600-rgb: 204, 183, 82;
  --accent-600: rgb(var(--accent-600-rgb));
  
  --accent-700-rgb: 153, 137, 61;
  --accent-700: rgb(var(--accent-700-rgb));
  
  --accent-800-rgb: 102, 92, 41;
  --accent-800: rgb(var(--accent-800-rgb));
  
  --accent-900-rgb: 51, 46, 20; 
  --accent-900: rgb(var(--accent-900-rgb));
  
  --text-color: rgb(218, 213, 192);
  
  --text-100-rgb: 244, 243, 234;
  --text-100: rgb(var(--text-100-rgb));
  
  --text-200-rgb: 232, 229, 214;
  --text-200: rgb(var(--text-200-rgb));
  
  --text-300-rgb: 224, 220, 203;
  --text-300: rgb(var(--text-300-rgb));
  
  --text-400-rgb: 221, 217, 197;
  --text-400: rgb(var(--text-400-rgb));
  
  --text-500-rgb: 218, 213, 192;
  --text-500: rgb(var(--text-500-rgb));
  
  --text-600-rgb: 174, 170, 153;
  --text-600: rgb(var(--text-600-rgb));
  
  --text-700-rgb: 130, 127, 115;
  --text-700: rgb(var(--text-700-rgb));
  
  --text-800-rgb: 87, 85, 76;
  --text-800: rgb(var(--text-800-rgb));
  
  --text-900-rgb: 45, 44, 38; 
  --text-900: rgb(var(--text-900-rgb));
  
  --border-color: rgba(77, 73, 73, 0.75);
  
  --border-100: rgba(77, 73, 73, 0.1);
  --border-200: rgba(77, 73, 73, 0.25);
  --border-300: rgba(77, 73, 73, 0.5);
  --border-400: rgba(77, 73, 73, 0.65);
  --border-500: rgba(77, 73, 73, 0.75);
  --border-600: rgba(77, 73, 73, 0.85);
  --border-700: rgba(77, 73, 73, 0.9);
  --border-800: rgba(77, 73, 73, 1);
  --border-900: rgba(77, 73, 73, 1);
  

  --background-color: rgb(36, 34, 34);
  --container-color: rgb(23, 28, 28);
  --element-color: rgb(47, 52, 52);

  // Status colors go here
}

* {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  color: $text-color;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.hide {
  display: none;
}
