// ==========================
// Imported Fonts
// ==========================

@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap);

$primary-font: "IBM Plex Mono", monospace;

// ==========================
// Font Measurements
// ==========================
$font-size-xs: 11px;
$font-size-sm: 12px;
$font-size-md: 15px;
$font-size-lg: 17px;

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 700;

$line-height-base: 1.5;
$line-height-heading: 1.2;

// ==========================
// Tag Adjustments
// ==========================
body {
  font-family: $primary-font;
  font-weight: $font-weight-normal;
  font-size: $font-size-md;
  line-height: $line-height-base;
  color: var(--text-800);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-light;
  font-family: $primary-font;
  line-height: $line-height-heading;
}

h1 {
  font-family: $primary-font;
  color: var(--text-800);
  font-size: 2rem;
}

h2 {
  font-size:1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

div {
  font-size: $font-size-sm;
}

p {
  font-size: $font-size-sm;
  line-height: $line-height-base;
  font-weight: $font-weight-normal;
}

a {
  font-weight: $font-weight-normal;
  font-size: $font-size-sm;
}

button {
  font-weight: $font-weight-normal;
  font-size: $font-size-sm;
  font-family: $primary-font;
}

input {
  font-weight: $font-weight-normal;
  font-size: $font-size-sm;
}

// ==========================
// Tag Breakpoint Adaptations
// ==========================
@media (max-width: #{$breakpoint-xs}) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
  }
}
