// ==========================
// Colors
// ==========================
// --- Accent Colors --- 
$primary-color:                rgb(248, 240, 211);
$secondary-color:                rgb(190, 183, 153);

// --- Background Colors ---
$primary-background-color:      rgb(31, 29, 29) !default;
$secondary-background-color:      rgb(58, 56, 56) !default;
// $secondary-background-color:   NONE YET ;

// --- Alert Colors --- 
$success-color: rgb(38, 181, 38);
$success-color-fade: rgba(38, 181, 38, 0.5);
$error-color: rgb(209, 56, 56);
$error-color-fade: rgba(209, 56, 56, 0.5);
$neutral-color: rgb(228, 153, 48);
$neutral-color-fade: rgba(228, 153, 48, 0.5);


// --- Gray + Shades ---
$gray-base:                     #000;
$gray-darker:                   lighten($gray-base, 13.5%); 
$gray-dark:                     lighten($gray-base, 20%);   
$gray:                          lighten($gray-base, 33.5%); 
$gray-light:                    lighten($gray-base, 46.7%); 
$gray-lighter:                  lighten($gray-base, 73.5%); 

// ==========================
// Spacings
// ==========================
// --- Spacing units ---
$spacing-xs:                    0.25rem;
$spacing-sm:                    0.5rem;
$spacing-md:                    1rem;
$spacing-lg:                    2rem;
$spacing-xl:                    3rem;

// --- Breakpoints ---
$breakpoint-xs:                 480px;
$breakpoint-sm:                 768px;
$breakpoint-md:                 1024px;
$breakpoint-lg:                 1200px;
$breakpoint-xl:                 1800px;

// --- Border thickness ---
$border-thickness-xs:           0.01rem;
$border-thickness-small:        0.07rem;
$border-thickness-base:         0.1rem;

// --- Border radius ---
$border-radius-xs:              3px;
$border-radius-sm:              8px;
$border-radius-md:              13px;
$border-radius-lg:              18px;
$border-radius-c:               10000px;

// ==========================
// Transition Speeds
// ==========================
$transition-instant:            0.15s;
$transition-fast:               0.25s;
$transition-base:               0.5s;
$transition-slow:               0.7s;

$transition-ease:               ease-in-out;

// ==========================
// Z-Indexes
// ==========================