// ==========================
// Colors
// ==========================
// --- Main Colors --- 



// ==========================
// Spacings
// ==========================
// --- Spacing units ---
$spacing-xs:                    0.3125rem;
$spacing-sm:                    0.625rem;
$spacing-md:                    0.9375rem;
$spacing-lg:                    1.5625rem;
$spacing-xl:                    2.5rem;

// --- Breakpoints ---
$breakpoint-xs:                 480px;
$breakpoint-sm:                 768px;
$breakpoint-md:                 1024px;
$breakpoint-lg:                 1200px;
$breakpoint-xl:                 1800px;

// --- Border thickness ---
$border-thickness-xs:           0.01rem;
$border-thickness-small:        0.07rem;
$border-thickness-base:         0.1rem;

// --- Border radius ---
$border-radius-xs:              3px;
$border-radius-sm:              8px;
$border-radius-md:              13px;
$border-radius-lg:              18px;
$border-radius-c:               10000px;

// ==========================
// Transition Speeds
// ==========================
$transition-instant:            0.1s;
$transition-fast:               0.175s;
$transition-base:               0.2s;
$transition-slow:               0.325s;
$transition-ease:               ease-in-out;

// ==========================
// Z-Indexes
// ==========================
$z-background-noise: -10;
$z-overlay: 10;
$z-modal: 15;