// ==========================
// Colors
// ==========================
// --- Main Colors --- 
$primary-color:               rgb(0, 255, 163);
$primary-hover-color:         darken($primary-color, 17.5%);
$primary-disabled-color:      rgb(50, 172, 127, 0.5);

$accent-color:                rgb(255, 229, 102);
$accent-hover-color:          rgb(200, 174, 41);
$accent-disabled-color:       rgb(213, 192, 86,0.5);

// --- Text Colors ---
$text-color:                  rgb(218, 213, 192);
$text-hover-color:            darken($text-color, 25%);
$text-disabled-color:         rgb(183, 179, 167, 0.5);

// --- Background Colors ---
$background-color:            rgb(36, 34, 34) !default;
$container-color:             rgb(23, 28, 28) !default;
$element-color:               rgb(47, 52, 52) !default;

// --- Border Colors ---
$border-color:                rgba(77, 73, 73, 0.75) !default;

// --- Status Colors ---
$success-color:               $primary-color;
$success-hover-color:         $primary-hover-color;
$success-disabled-color:      $primary-disabled-color;

$warning-color:               $accent-color;
$warning-hover-color:         $accent-hover-color;
$warning-disabled-color:      $accent-disabled-color;

$error-color:                 rgb(216, 120, 120);
$error-hover-color:           rgb(201, 81, 81);
$error-disabled-color:        rgba(214, 119, 119, 0.5);

// --- REMOVE THESE COLORS --- 
$done-color:                    $success-color;
$pending-color:               rgb(64, 112, 233);
$dev-color:                   rgb(224, 166, 19);
$misc-color:                  rgb(226, 113, 217);

// ==========================
// Spacings
// ==========================
// --- Spacing units ---
$spacing-xs:                    0.3125rem;
$spacing-sm:                    0.625rem;
$spacing-md:                    0.9375rem;
$spacing-lg:                    1.5625rem;
$spacing-xl:                    2.5rem;

// --- Breakpoints ---
$breakpoint-xs:                 480px;
$breakpoint-sm:                 768px;
$breakpoint-md:                 1024px;
$breakpoint-lg:                 1200px;
$breakpoint-xl:                 1800px;

// --- Border thickness ---
$border-thickness-xs:           0.01rem;
$border-thickness-small:        0.07rem;
$border-thickness-base:         0.1rem;

// --- Border radius ---
$border-radius-xs:              3px;
$border-radius-sm:              8px;
$border-radius-md:              13px;
$border-radius-lg:              18px;
$border-radius-c:               10000px;

// ==========================
// Transition Speeds
// ==========================
$transition-instant:            0.15s;
$transition-fast:               0.25s;
$transition-base:               0.5s;
$transition-slow:               0.7s;
$transition-ease:               ease-in-out;

// ==========================
// Z-Indexes
// ==========================
$z-background-noise: -10;
$z-overlay: 10;
$z-overlay-page: 15;