#bank-container {
}

.bank-time-frame {
  margin: $spacing-md;
  margin-bottom: $spacing-lg;
  @include flex(row, space-between, center);
}

.bank-budget-overall-wrapper {
  @include flex(row);
}

.bank-overalls {
  margin: $spacing-md;
  padding: $spacing-sm 0;
  width: calc(100% - 2 * $spacing-md);
  max-width: 275px;
  @include flex(column, space-between);
  background-color: rgb(23, 29, 30);
  border-radius: $border-radius-sm;
  border: 1px solid rgba(var(--gray-600-rgb), 0.65);

  .overall-header {
    border-bottom: 1px solid var(--gray-800);
    text-align: center;
    color: var(--text-600);
    padding: 0 $spacing-sm;
    padding-bottom: $spacing-sm;
    margin-bottom: $spacing-xs;
  }

  .overall-row {
    @include flex(row, space-between, flex-end);
    padding: 0 $spacing-sm;
  }
}

@media (max-width: 520px) {
  .bank-budget-overall-wrapper {
    flex-direction: column;
  }

  .bank-overalls {
    max-width: none;
  }
}

.bank-budget {
  @include flex(column);
  width: calc(100% - 2 * $spacing-md);
  border-radius: $border-radius-sm;
  background-color: rgb(23, 29, 30);
  border: 1px solid rgba(var(--gray-600-rgb), 0.65);
  margin: $spacing-md;

  .color-legend {
    @include flex(row, space-around, center);
    padding: $spacing-sm;
    padding-top: $spacing-xs;

    .color-legend-row {
      @include flex(row, center, center);
      gap: $spacing-xs;

      p {
        font-size: $font-size-xs;
      }

      .color-block {
        @include box(9px);
      }
    }
  }
}

.color-block,
.data-bar-category {
  &.primary {
    border: 1px solid var(--primary-600);
    background-color: rgba(var(--primary-600-rgb), 0.2);
  }

  &.accent {
    border: 1px solid var(--accent-600);
    background-color: rgba(var(--accent-600-rgb), 0.2);
  }

  &.error {
    border: 1px solid var(--error-600);
    background-color: rgba(var(--error-600-rgb), 0.2);
  }

  &.gray {
    border: 1px solid var(--text-700);
    background-color: rgba(var(--text-600-rgb), 0.2);
  }
}

.transactions-list {
  margin-top: $spacing-sm;

  .transaction-list-header {
    @include flex(row, space-between, center);
    border-bottom: 1px solid var(--gray-700);
    padding: 0 $spacing-md;
    padding-bottom: $spacing-sm;
    margin-bottom: $spacing-md;
  }

  .transactions-body {
    @include flex(column);
    gap: $spacing-sm;
    margin: 0 $spacing-md;
    margin-bottom: $spacing-md;
  }
}

.negative-amount {
  color: var(--error-800) !important;
}