#calendar-page-container {
  @include flex(row);
  max-width: 900px;
  margin: auto;
  width: 100%;
  gap: $spacing-md;
}

#calendar-container {
  border-radius: $border-radius-sm;
  background-color: $secondary-background-color;
  width: 50%;
  padding: $spacing-md;
}

#calendar-month-navigation,
#calendar-year-navigation {
  @include flex(row, center, center);
  gap: $spacing-sm;
  margin-bottom: $spacing-sm;

  #month-navigation-label {
    font-weight: 600;
  }

  #year-navigation-label {
    color: $gray;
  }
}

#calendar-days {
  @include flex(row, space-around, center);
  margin-bottom: $spacing-sm;
  gap: $spacing-xs;

  p {
    color: $gray;
  }
}

#calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: $spacing-xs;
  margin-bottom: $spacing-xs;
}

#calendar-details {
  width: 50%;
  @include flex(column, initial, center);
}

#calendar-upcoming {
  width: 100%;
  @include flex(column, flex-start, flex-start);

  #upcoming-header {
    @include flex(row, space-between, flex-end);
    width: 100%;
    border-bottom: 1px solid $primary-color;
    padding: $spacing-sm 0;
    padding-top: 0 !important;
  }

  #upcoming-body {
    width: 100%;
  }

  .upcoming-day {
    @include flex(row, space-between);
    border-top: 0.5px solid $primary-color;

    .upcoming-events {
      margin-top: $spacing-xs;
      flex: 1;
    }
  }
}

.upcoming-day-label {
  font-size: $font-size-lg;
  padding-top: $spacing-sm;
  margin-right: $spacing-md;
}

#calendar-overlay {
  @include flex(column, flex-start);
  padding: $spacing-md;
  border-radius: $border-radius-sm;
  max-width: 600px;
  width: 100%;

  #calendar-overlay-form {
    @include flex(column);
    gap: $spacing-xs;
  }

  #calendar-overlay-header {
    @include flex(row, center, center);
    height: 30px;
    position: relative;

    h5 {
      font-size: $font-size-md;
      text-align: center;
    }

    button {
     position: absolute;
     right: 0;
    }
  }

  p {
    font-size: $font-size-md;
  }

  #reoccurring-options-container {
    @include flex(row);
    padding: $spacing-xs 0;
    margin-bottom: $spacing-sm;
    flex-wrap: wrap;
    gap: $spacing-md;
  }
}

.selected-event {
  background-color: color-fade(black, 0.3) !important;
}