#calendar-page-container {
  @include flex(row);
}


#calendar-container {
  border-radius: $border-radius-sm;
  background-color: $container-color;
  width: 50%;
  height: min-content;
  padding: $spacing-sm $spacing-md;
  max-width: 440px;
}

#calendar-month-navigation,
#calendar-year-navigation {
  @include flex(row, center, center);
  gap: $spacing-sm;
  margin-top: $spacing-xs;

  #month-navigation-label {
    font-weight: 600;
    width: 75px;
    text-align: center;
  }

  #year-navigation-label {
    text-align: center;
    color: gray;
  }
}

#calendar-month-navigation {
  margin-bottom: $spacing-xs;
}

#calendar-days {
  @include flex(row, space-around, center);
  margin-bottom: $spacing-sm;
  text-align: center;
  gap: $spacing-xs;

  p {
    color: gray;
  }
}

#calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: $spacing-xs;
  margin-bottom: $spacing-xs;
}

#calendar-details {
  width: 50%;
  @include flex(column, initial, center);
}

#no-upcoming {
  margin: $spacing-sm 0;
  font-size: $font-size-sm;
  color: gray;
}

#calendar-upcoming {
  width: 100%;
  @include flex(column, flex-start, flex-start);

  #upcoming-header {
    @include flex(row, space-between, flex-end);
    width: 100%;
    border-bottom: 1px solid $text-color;
    padding: $spacing-sm 0;
    padding-top: 0 !important;
  }

  #upcoming-body {
    width: 100%;
  }

  .upcoming-day {
    @include flex(row, space-between);
    border-top: 0.5px solid $text-color;

    .upcoming-events {
      margin-top: $spacing-xs;
      margin-bottom: $spacing-xs;
      flex: 1;
    }
  }
}

.upcoming-day-label {
  font-size: $font-size-lg;
  font-weight: 300;
  padding-top: $spacing-xs;
  margin-right: $spacing-md;
}

#calendar-overlay {
  @include flex(column, flex-start);
  padding: $spacing-md;
  border-radius: $border-radius-sm;
  max-width: 600px;
  width: 100%;

  #calendar-overlay-form {
    @include flex(column);
    gap: $spacing-xs;
  }

  #calendar-overlay-header {
    @include flex(row, center, center);
    height: 30px;
    position: relative;

    h5 {
      font-size: $font-size-md;
      text-align: center;
    }

    button {
     position: absolute;
     right: 0;
    }
  }

  p {
    font-size: $font-size-md;
  }

  #reoccurring-options-container {
    @include flex(row);
    padding: $spacing-xs 0;
    flex-wrap: wrap;
    gap: $spacing-md;
  }

  #task-link-label {
    @include flex(row, flex-start, flex-end);
    gap: $spacing-sm;
    margin-bottom: $spacing-xs;
  }

  #task-link-options {
    border: 1px solid $text-color;
    border-radius: $border-radius-xs;
    margin-bottom: $spacing-sm;
    height: 120px;
    overflow: scroll;
    padding: $spacing-sm;
  }
}

.selected-event {
  background-color: color-fade(black, 0.3) !important;
}

@media (max-width: 700px) {
  #calendar-page-container {
    flex-direction: column;
    gap: $spacing-md;
  }

  #calendar-container, #calendar-details {
    width: 100%;
    margin: 0 auto;
  }
}

.current-day-label {
  color: $error-color;
}