#dash-container {
  @include flex(column);
  gap: $spacing-sm;
}

.task-section {
  width: 100%;
  @include flex(column, initial, center);
  gap: $spacing-sm;
}

.task-list {
  width: 100%;
  .task-list-header {
    @include flex(row, space-between, center);

    p {
      font-weight: 600;
      border-bottom: 1px solid var(--gray-800);
    }
  }
}

.task-item {
  @include flex(row, left, center);
  height: 30px;
  gap: $spacing-xs;

  .tree-character {
    color: var(--accent-800);
    font-size: 20px;
    margin-right: $spacing-xs;
  }

  .info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
