#dash-container {
  @include flex(column);
  gap: $spacing-sm;
}

.task-section {
  width: 100%;
  @include flex(column, initial, center);
  gap: $spacing-sm;
}

.task-list {
  width: 100%;

  .task-list-header {
    @include flex(row, space-between, center);

    p {
      font-weight: $font-weight-bold;
      border-bottom: 1px solid var(--gray-800);
    }
  }

  .task-item {
    @include flex(row, left, center);
    height: 30px;
    gap: $spacing-xs;
    background-color: transparent;
    width: 100%;
    border: 1px solid transparent;

    .tree-character {
      color: var(--accent-800);
      font-size: 20px;
      margin-right: $spacing-xs;
    }

    .info {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @include clickableContainer;
  }

  .task-list-footer {
    margin-top: $spacing-md;
    .done-percentage {
      color: var(--primary-800);
    }
  }
}

.no-task-message {
    color: var(--text-600);
}