#design-component-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: $spacing-sm;
}

.design-component {
  @include flex(column);
  gap: $spacing-sm;
  margin-bottom: $spacing-md;

  .design-component-header {
    padding-bottom: $spacing-xs;
    border-bottom: 1px solid $text-color;
  }
}

.example-title-container {
  @include flex(row, initial, center);
  gap: $spacing-sm;
}

//COLOR RELATED

.design-color { 
  @include flex(column, flex-start);
  gap: $spacing-xs;

  .design-color-spectrum {
    @include flex(row, flex-start);
    gap: $spacing-xs;
  }
}

.color-block {
  @include box(20px);
}

// SPACING RELATED

$spacing-increments: (
  xs: $spacing-xs,
  sm: $spacing-sm,
  md: $spacing-md,
  lg: $spacing-lg,
  xl: $spacing-xl,
);

.spacing-ex {
  border: 1px solid white;
}

@each $name, $space in $spacing-increments {
  .#{$name} {
    @include box($space);
  }
}

.raw-icons {
  @include flex(row, initial, center);
  gap: $spacing-sm;
}

