#finances-container {
  @include flex(column);
  max-width: 800px;
  margin: auto;
  gap: $spacing-md;
}

#finance-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $spacing-md;
}

#finance-stats-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: $spacing-md;
}

#finance-graph {
  height: 200px;
  @include flex(row);

  #finance-graph-x {
    width: 30px;
    border: 1px solid gray;
    padding-bottom: 30px;
  }

  #finance-graph-right {
    flex: 1;
    @include flex(column);

    #finance-graph-body {
      flex: 1;
      background-image: radial-gradient(
        circle,
        color-fade($primary-color, 0.5) 1px,
        transparent 1.5px
      );
      background-size: 25px 25px;
      border-left: 2px solid $gray;
      border-bottom: 2px solid $gray;
    }

    #finance-graph-y {
      border: 1px solid gray;
      height: 30px;
    }
  }
}

#finance-budget {
  #finance-budget-bar {
    height: 13px;
    @include flex(row);
    gap: $spacing-xs;
    margin-bottom: $spacing-sm;

    .budget-bar {
      width: 20%;
      background-color: $primary-color;
      border-radius: $border-radius-xs;
    }
  }

  #finance-budget-legend {
    @include flex(column);

    .budget-legend-section {
      @include flex(row, space-between);

      .budget-legend-left {
        @include flex(row, center, center);
        gap: $spacing-sm;
      }

      svg {
        stroke: $primary-color;
        fill: $primary-color;
      }
    }

    .header-row {
      margin-bottom: $spacing-xs;

      p {
        color: $gray-light;
      }
    }
  }
}

#finance-transactions-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: $spacing-md;

  #transactions-form {
  }
}

#transactions-list {
    @include flex(column);

    h5 {
        font-size: $font-size-lg;
        font-weight: 400;
    }

    .transaction-row {
        
    }
}