#finances-container {
  @include flex(column);
  max-width: 800px;
  margin: auto;
  gap: $spacing-md;
}

#finance-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $spacing-md;
}

#finance-stats-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: $spacing-md;
}

#finance-graph {
  height: 200px;
  @include flex(row);

  #finance-graph-x {
    width: 40px;
    padding-bottom: 30px;
    @include flex(column, space-around);

    .increment {
      height: 40px;
      @include flex(column, space-between, center);
      transform: rotate(-90deg);

      .increment-title {
        transform: rotate(90deg);
      }

      .increment-notch {
        border: 1px solid $primary-color;
        height: 10px;
      }
    }
  }

  #finance-graph-right {
    flex: 1;
    @include flex(column);

    #finance-graph-body {
      flex: 1;
      background-image: radial-gradient(
        circle,
        color-fade($primary-color, 0.3) 1px,
        transparent 1.5px
      );
      background-size: 25px 25px;
      border: 1px solid $primary-color;
      border-radius: $border-radius-sm;
      background-color: $secondary-background-color;
      @include flex(row, space-around, flex-end);

      .finance-graph-bar {
        background-color: color-fade($dev-color, 0.9);
        border-radius: $spacing-xs $spacing-xs 0px 0px;
        width: 12%;
        min-width: 17px;
        height: 50%;
      }
    }

    #finance-graph-y {
      height: 30px;
      @include flex(row, space-around);

      .increment {
        @include flex(column, space-between, center);
        .increment-notch {
          order: 1;
          border: 1px solid $primary-color;
          height: 10px;
        }

        .increment-title {
          order: 2;
          width: 40px;
          text-align: center;
        }
      }
    }
  }
}

#finance-budget {
  #finance-budget-bar {
    height: 9px;
    @include flex(row);
    gap: $spacing-xs;
    margin-bottom: $spacing-sm;

    .budget-bar {
      width: 20%;
      background-color: $primary-color;
      border-radius: $border-radius-xs;
    }
  }

  #finance-budget-legend {
    @include flex(column);

    .budget-legend-section {
      @include flex(row, space-between);

      .budget-legend-left {
        @include flex(row, center, center);
        gap: $spacing-sm;
      }

      svg {
        stroke: $primary-color;
        fill: $primary-color;
      }
    }

    .header-row {
      margin-bottom: $spacing-xs;

      p {
        color: $gray-light;
      }
    }
  }
}

#finance-transactions-container {
  width: 100%;
  min-width: 0;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: $spacing-md;
}

#transactions-list {
  @include flex(column);
  gap: calc($spacing-sm + $spacing-xs);
  width: 100%;
  min-width: 0;

  h5 {
    font-size: $font-size-lg;
    font-weight: 400;
    margin-bottom: $spacing-sm;
  }
}

#transactions-form {
}
