.mind-header-wrapper {
  margin: $spacing-md;
}

.mind-header {
  @include flex(row);
  gap: $spacing-sm;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  form {
    flex: 1;
  }
}

.tree-page {
  .tree-page-header {
    @include flex(column);
    gap: $spacing-sm;
    padding: $spacing-sm;
    border-radius: $border-radius-xs;
    background-color: rgb(23, 29, 30);
    margin: $spacing-md;
    margin-bottom: 0;

    .header-row {
      @include flex(row, initial, flex-start);
      gap: $spacing-sm;

      .tree-title {
        width: 100%;
        overflow: hidden;
        @include flex(row, initial, center);
        gap: $spacing-sm;

        div {
          flex: 1;
        }

        .star-tree-icon-container {
          width: min-content !important;
          flex: 0;
          .star-tree-icon {
            stroke: var(--accent-800);

            &.is-favorite {
              fill: var(--accent-800);
            }

            &:hover {
              cursor: pointer;
            }
          }
        }

        h5,
        p {
          min-width: 0px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }

        p {
          color: var(--mind-600);
          font-size: 10px;
        }
      }
    }

    .tree-note {
      color: var(--text-600);
    }

    .tag-row {
      @include flex(row, initial, center);
      border-top: 1px solid var(--gray-800);
      padding-top: $spacing-xs;

      span {
        color: var(--text-600);
        margin-right: $spacing-xs;
      }

      .tree-category-select,
      .tree-categories {
        flex: 1;
      }

      .tree-categories {
        @include flex(row);
        gap: $spacing-sm;
        flex-wrap: wrap;

        p {
          color: var(--accent-700);
          border: 1px solid transparent;
        }
      }
    }
  }
}

.tree-body {
  margin: $spacing-md;
  margin-top: 0;
}

.tree-children-container {
  @include flex(column);
  margin-top: 0;
}

.trees-section {
  .tree-section-header {
    font-size: $font-size-md;
    padding: 0 $spacing-md;
    padding-bottom: $spacing-sm;
    border-bottom: 1px solid var(--gray-800);
  }
}

.tree-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: $spacing-md;
  padding: $spacing-md;
}

.no-trees-found {
  font-size: $font-size-xs;
  color: var(--text-600);
}