#time-container {
  @include flex(column);
  gap: $spacing-md;
}

.calendar-view-container {
  @include flex(column);
  gap: $spacing-sm;
  border-radius: $border-radius-xs;
  background-color: var(--gray-400);
  padding: $spacing-sm;
  width: 100%;
  max-width: 450px;
  min-width: 300px;
  margin: auto;
}

.calendar-view-header {
  @include flex(row, space-between, center);

  p {
    color: var(--primary-800);
  }

  .calendar-view-header-btns {
    @include flex(row);
    gap: $spacing-sm;
  }
}

.calendar-week-header {
  padding: 3px 0;
  background-color: var(--gray-500);
  @include flex(row, space-around);

  div {
    color: var(--text-500);
  }
}

.calendar-view-body {
  border-radius: $border-radius-xs;
  overflow: hidden;

  .calendar-days {
    display: grid;
    background-color: var(--gray-400);
    grid-template-columns: repeat(7, 1fr);
  }

  .dot-container {
    width: 100%;
    margin: auto;
    max-width: 25px;
    height: 10px;
    bottom: 3px;
    @include flex(row, space-around, center);

    .event-dot {
      @include box(4px);
      border-radius: $border-radius-c;
      background-color: var(--accent-800);
    }
  }
}

.calendar-list-container {
  width: 100%;
  background-color: var(--gray-600);
  border-radius: $border-radius-xs;
  overflow: hidden;
  padding: $spacing-sm;

  .list-header {
    color: var(--primary-800);
    margin-bottom: $spacing-xs;
  }

  .calendar-list-body {
    background-color: var(--gray-400);
    border-radius: $border-radius-xs;
    padding: $spacing-xs;
    @include flex(column, flex-start);
    gap: $spacing-xs;
  }
}
