#time-container {
    @include flex(column);
    gap: $spacing-md;
}

.calendar-view-container {
  @include flex(column);
  gap: $spacing-sm;
  border-radius: $border-radius-sm;
  background-color: var(--gray-600);
  padding: $spacing-sm;
  width: 100%;
  max-width: 450px;
  min-width: 300px;
  margin: auto;
}

.calendar-view-header {
  @include flex(row, space-between, center);

  p {
    color: var(--primary-800);
  }

  .calendar-view-header-btns {
    @include flex(row);
    gap: $spacing-sm;
  }
}

.calendar-week-header {
    padding: 3px 0;
    background-color: var(--gray-500);
    @include flex(row, space-around);

    div {
        color: var(--text-500);
    }
  }

.calendar-view-body {
  border-radius: $border-radius-xs;
  overflow: hidden;

  .calendar-days {
    display: grid;
    background-color: var(--gray-400);
    grid-template-columns: repeat(7, 1fr);
  }
}

.calendar-list-container {
    width: 100%;
    background-color: var(--gray-600);
    border-radius: $border-radius-sm;
    overflow: hidden;
}

.calendar-list-container {
    .month-display, .week-display {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
}