#time-container {
  margin-top: $spacing-md;
  @include flex(column, initial, center);
  width: 100%;
  gap: $spacing-md;
}

.calendar-view-container {
  @include flex(column);
  gap: $spacing-sm;
  border-radius: $border-radius-sm;
  border: 1px solid rgba(var(--gray-600-rgb), 0.65);
  background-color: rgb(23, 29, 30);
  padding: $spacing-sm;
  width: calc(100% - 2*$spacing-md);
  max-width: 450px;
  min-width: 300px;
  margin-left: $spacing-md;
  margin-right: $spacing-md;
}

.calendar-view-header {
  @include flex(row, space-between, center);

  h6 {
    color: var(--primary-800);
    font-size: 15px;
  }
}

.calendar-week-header {
  padding: 3px 0;
  @include flex(row, space-around);

  div {
    color: var(--text-500);
  }
}

.calendar-view-body {
  overflow: hidden;

  .calendar-days {
    display: grid;
    border-radius: $border-radius-sm;
    grid-template-columns: repeat(7, 1fr);
  }

  .dot-container {
    width: 100%;
    margin: auto;
    max-width: 25px;
    height: 10px;
    bottom: 3px;
    @include flex(row, space-around, center);

    .event-dot {
      @include box(4px);
      border-radius: $border-radius-c;
      background-color: var(--accent-800);
    }
  }
}

.calendar-list-container {
  width: 100%;

  .list-header {
    padding: $spacing-sm $spacing-md;
    color: var(--text-800);
    border-bottom: 1px solid var(--gray-700);
  }

  .calendar-list-body {
    padding: $spacing-sm $spacing-md;
    border-radius: $border-radius-xs;
    @include flex(column, flex-start);
    gap: $spacing-sm;
  }
}
