#todo-container {
  @include flex(row);
  width: 100%;
  gap: $spacing-sm;
}

#todo-dashboard {
  border: 1px solid $primary-color;
  padding: $spacing-md;
  border-radius: $border-radius-sm;
  @include flex(column);
  gap: $spacing-md;
  width: 100%;
  max-width: 300px;
  min-width: 250px;
}

#task-list {
  flex: 1 1 auto; min-width: 0;
  @include flex(column);
  margin: 0px $spacing-sm;
}

#task-header {
  margin-bottom: $spacing-xs;
  border-bottom: 1px solid $primary-color;
  border-radius: 0px !important;

  span {
    color: $gray;
  }

  &:hover {
    cursor: default;
    background-color: transparent;
  }

  .task-tag {
    width: 26px;
  }
}

.task-row {
  @include flex(row, left, center);
  font-size: $font-size-sm;
  padding: $spacing-xs 0;
  border-radius: $border-radius-xs;

  span {
    overflow: hidden;
  }

  .task-name {
    text-wrap: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 15%;
    margin-right: $spacing-sm;
  }

  .task-info {
    display: inline-block;
    color: $gray-light;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
  }

  .task-tag {
    min-width: 25px;
    margin: 0 $spacing-xs;
  }

  .task-tag.non-header-tag {
    @include flex(row, left);
    font-size: $font-size-md;
    margin-left: $spacing-sm;

    svg {
      fill: $misc-color;
    }
  }

  .task-tag.root {
    svg {
      fill: transparent !important;
      stroke: $root-color;
    }
  }
  .task-tag.dev {
    svg {
      fill: $dev-color;
    }
  }

  .task-status {
    width: 85px;
  }

  &:hover {
    cursor: pointer;
    background-color: color-fade($gray, 0.5);
  }
}

.selected-task {
  background-color: color-fade($gray, 0.2) !important;
}

#todo-dashboard-filters {
  @include flex(column, left);

  p {
    margin-bottom: $spacing-sm;
  }
}

.filter-button-container {
  @include flex(row, left);
  gap: $spacing-sm;
  flex-wrap: wrap;
  margin-bottom: $spacing-sm;
}

#todo-sort-title {
  font-size: $font-size-md;
  margin-bottom: $spacing-xs;
}

#todo-sort-buttons-container {
  @include flex(row, left, center);
  gap: $spacing-sm;
}