#todo-container {
}

#todo-dashboard {
  @include flex(column);
  gap: $spacing-md;
  width: 100%;

  #todo-dashboard-settings {
    @include flex(column);
  }
}

#task-list {
  flex: 1 1 auto; min-width: 0;
  @include flex(column);
  margin: 0px $spacing-sm;
}

#task-header {
  margin-bottom: $spacing-xs;

  span {
    padding-bottom: $spacing-xs;
    border-bottom: 1px solid gray;
    color: gray;
    font-size: $font-size-sm;
  }

  @media (hover: hover){
    &:hover {
      cursor: default;
      background-color: transparent;
    }
  }
}

#task-header-count {
  color: gray !important;
}

#no-tasks-list {
  color: gray;
  margin-left: $spacing-md;
}

.task-row.non-header {
  @include flex(row, left, center);
  font-size: $font-size-sm;
  padding: 3px $spacing-xs;
  margin-left: $spacing-md;
  border-radius: $border-radius-xs;

  .task-count-number {
    width: 23px;
    color: gray;
  }

  span {
    overflow: hidden;
  }

  .task-status {
    @include flex(row, center, center);
    position: relative;
    margin: 0 $spacing-sm;
    width: 20px;
  }

  .task-info {
    display: inline-block;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;

    .task-due-date {
      color: $error-color;
      display: inline;
    }
  }

  .task-tag {
    @include flex(row, left);
    font-size: $font-size-md;
    min-width: 15px;
    margin: 0 $spacing-xs;
    margin-left: $spacing-sm;

    svg {
      fill: $misc-color;
    }
  }

  .task-tag.dev {
    svg {
      fill: $dev-color;
    }
  }

  @media (hover: hover){
    &:hover {
      cursor: pointer;
      background-color: color-fade(gray, 0.5);
    }
  }
}

#task-list-footer {
  margin-top: $spacing-sm;
  margin-bottom: $spacing-md;

  p {
    font-size: $font-size-sm;
    color: gray;

    .task-footer-done-span {
      color: $done-color;
    }

    .task-footer-pending-span {
      color: $pending-color;
    }
  }
}

.selected-task {
  background-color: color-fade(gray, 0.2) !important;
}

.filter-button-container, .sort-buttons-container {
  @include flex(row, left, center);
  flex-wrap: wrap;
  gap: $spacing-sm;
}