#todo-header {
  @include flex(row);
  gap: $spacing-md;
}

.cat-progress-bar-container {
  padding: 0 $spacing-sm;
  @include flex(column, left);
}

#task-overview {
  width: 110px;
  min-width: 110px;

  .task-overview-row {
    @include flex(row, space-between);
    text-align: left;
  }
}

.hold {
  .task-overview-label {
    color: $error-color;
  }
}

.pending {
  .task-overview-label {
    color: $neutral-color;
  }
}

.active {
  .task-overview-label {
    color: $success-color;
  }
}

.done {
  .task-overview-label {
    color: $gray;
    text-decoration: line-through;
  }
}

@media (max-width: 575px) {
  #todo-header {
    flex-wrap: wrap;
  }
}

#task-list {
  @include flex(column);
  margin: 0px $spacing-sm;
}

#task-header {
  span {
    color: white;
  }
  margin-bottom: $spacing-xs;
}

.task-row {
  @include flex(row, initial, center);
  font-size: $font-size-sm;
  padding: $spacing-xs 0;

  span {
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
  }

  .task-name {
    width: 15%;
    min-width: 100px;
    color: $success-color;
  }

  .task-info-container {
    margin-right: $spacing-sm;
    @include flex(row, left, center);
  }

  .task-info-container,
  .task-info {
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
    flex: 1;
  }

  .task-info {
    display: inline-block;
    transition: none;
    margin: auto;
  }

  // Sliding text banner for overflowing task infos
//   .task-info-container:hover .task-info {
//     transition: transform 5s linear;
//     transform: translateX(calc(80px - 100%));
//   }

  .task-tag {
    width: 60px;
    color: $success-color;
  }

  .task-status {
    width: 85px;
    color: $neutral-color;
  }

  &:hover {
    background-color: $gray-dark;
  }
}

#task-creation {
    margin: 0 $spacing-sm;
    margin-bottom: $spacing-sm;
    font-size: $font-size-sm;
    border-bottom: 1px solid $gray;
    padding-bottom: $spacing-sm;
    @include flex(row, left, center);
}

.task-creation-form{
  flex: 1;
}

.task-creation-input {
    width: 100%;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    margin-left: $spacing-xs;
    font-family: $primary-font;
    font-size: $font-size-sm;
    padding: $spacing-xs;
}