#app-wrapper {
  width: 100vw;
  height: 100vh;

  ::-webkit-scrollbar {
    display: none;
  }

  body {
    scrollbar-width: none;
  }
}

main {
  padding: 0 $spacing-md;
  max-width: $breakpoint-lg;
  margin: 0 auto;
  width: 100vw;

  ::-webkit-scrollbar {
    display: none;
  }

  body {
    scrollbar-width: none;
  }
}

.main-body-view {
  width: 100%;

  ::-webkit-scrollbar {
    display: none;
  }

  body {
    scrollbar-width: none;
  }
}
