#app-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: scroll;

  ::-webkit-scrollbar {
    display: none;
  }

  body {
    scrollbar-width: none;
  }
}

main {
  width: calc(100vw - $spacing-md * 2 - 2px);
  max-width: 900px;
  margin: $spacing-md;
  margin-bottom: $spacing-lg;
  margin-left: auto;
  margin-right: auto;
  padding: $spacing-md;
  border: 1px solid $border-color;
  background-color: $container-color;
}