nav {
    max-width: 900px;
    margin: auto;
    padding: $spacing-sm;
    margin: $spacing-md auto;
    margin-bottom: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    a {
        font-size: $font-size-md;
        font-weight: 400;
        color: $text-color;

        transition: color $transition-instant;

        @media (hover: hover){
            &:hover {
                color: $text-color;
            }
        }
    }
}