nav {
  max-width: 900px;
  width: calc(100vw - $spacing-md * 2 - 2px);
  background-color: var(--primary-100);
  padding: $spacing-sm;
  margin: $spacing-md;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0 !important;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  a {
    position: relative;
    font-size: $font-size-sm;
    color: var(--text-800);
    width: min-content;
    text-wrap: nowrap;
    padding: $spacing-xs $spacing-sm;
    border-radius: $border-radius-xs;
    background-color: transparent;
    transition: background-color $transition-base;

    &::before {
      content: '*';
      margin-right: $spacing-xs;
      color: transparent;
      transition: color $transition-instant;
    }
    
    &:hover::before {
      color: var(--primary-800);
    }

    &:hover {
    }
  }
}
