#navbar-container {
    max-width: 600px;
    margin: auto;
    margin-top: $spacing-sm;
    padding: $spacing-sm;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    a {
        font-size: $font-size-lg;
        color: $primary-color;

        &:hover {
            color: $secondary-color;
        }
    }
}