.standard-btn {
  border-radius: $border-radius-xs;
  background-color: $primary-color;
  color: black;
  padding: $spacing-xs $spacing-sm;
  transition: background-color $transition-instant;
  
  &:hover {
    background-color: $secondary-color;
  }
}

.delete-task-icon {
  @include flex(row, center, bottom);
  background-color: transparent;

  svg {
    fill: color-fade($error-color, 0.4);
    transition: fill $transition-instant;

    &:hover {
      fill: $error-color;
      cursor: pointer;
    }
  }
}

.filter-button {
  @include flex(row, center, center);
  background-color: transparent;
  border: 1px solid gray;
  padding: $spacing-xs;
  border-radius: $border-radius-sm;

  .filter-icon {
    margin-right: $spacing-xs;
  }
}

$filter-types: (
  dev: $dev-color,
  root: $root-color,
  misc: $misc-color,
  pending: $pending-color,
  active: $active-color,
  done: $done-color,
  due: $misc-color,
  new: $dev-color,
  old: $done-color,
);

@each $type, $color in $filter-types {
  .filter-button.#{$type} {
    border: 1px solid $color;
    transition: background-color $transition-instant;

    span {
      color: $color;
    }

    svg {
      color: $color;
      fill: $color;
      stroke: $color;
    }

    &:hover {
      background-color: color-fade($color, 0.15);
    }
  }

  .filter-button.#{$type}.active-filter-btn {
    background-color: color-fade($color, 0.15);
  }
}

.filter-button.root {
  svg {
    fill: transparent !important;
  }
}

.task-status-button {
  background-color: transparent;
  padding: 0 $spacing-xs;
  border-radius: $border-radius-xs;

  &:hover {
    background-color: $gray-darker;
  }
}

#task-tag-editor {
  button {
    background-color: transparent;
    padding: $spacing-sm;
    border-radius: $border-radius-sm;
    @include flex(initial, center, center);
  }
}

$tag-btn-types: (
  dev: $dev-color,
  root: $root-color,
  misc: $misc-color,
);

@each $type, $color in $tag-btn-types {
  #task-tag-editor button.#{$type} {
    border: 1px solid color-fade($color, 0.4);
    @include flex(initial, center, center);
    transition: border $transition-instant;

    svg {
      fill: $color;
      stroke: $color;
    }

    &:hover {
      border: 1px solid $color;
    }
  }

  #task-tag-editor button.#{$type}.selected {
    border: 1px solid $color;
  }
}

#task-tag-editor button.root svg {
  fill: transparent;
}

.todo-sort-btn {
    @include flex(initial, center, center);
    background-color: transparent;
    border-radius: $border-radius-sm;
    border: 1px solid $primary-color;
    padding: $spacing-sm;
    font-size: $font-size-md;
    transition: background-color $transition-instant;

    &:hover {
        background-color: $gray-dark;
    }
}

.todo-sort-btn.selected-sort {
    background-color: $gray-dark;
}

#delete-done-tasks-btn {
  @include flex(row, space-between, center);
  background-color: transparent;
  padding: $spacing-xs $spacing-sm;
  border: 1px solid $error-color;
  border-radius: $border-radius-xs;
  color: $error-color;
  transition: background-color $transition-instant;
  text-wrap: nowrap;
  width: min-content;

  svg {
    margin-left: $spacing-sm;
    fill: $error-color;
  }

  &:hover {
    background-color: color-fade($error-color, 0.15);
  }
}