.btn {
  @include flex(row, flex-start, center);
  width: min-content;
  height: 30px;
  padding-left: $spacing-sm;
  padding-right: $spacing-sm;
  border-radius: $border-radius-xs;
  font-weight: 400;
  transition: all $transition-instant ease;

  svg {
    margin-right: $spacing-xs;
  }

  &.squared {
    padding: $spacing-xs;
    svg {
      margin-right: 0;
    }
  }

  &.primary {
    color: var(--primary-color);
    background-color: var(--primary-200);
    border: 1px solid rgba(var(--primary-300-rgb), 0.25);

    &:hover {
      background-color: var(--primary-300);
      border: 1px solid rgba(var(--primary-400-rgb), 0.25);
    }

    svg {
      stroke: var(--primary-color);
    }
  }

  &.accent {
    color: var(--accent-color);
    background-color: var(--accent-200);
    border: 1px solid rgba(var(--accent-300-rgb), 0.25);

    &:hover {
      background-color: var(--accent-300);
      border: 1px solid rgba(var(--accent-400-rgb), 0.25);
    }

    svg {
      stroke: var(--accent-color);
    }
  }

  &.error {
    color: var(--error-color);
    background-color: var(--error-200);
    border: 1px solid rgba(var(--error-300-rgb), 0.25);

    &:hover {
      background-color: var(--error-300);
      border: 1px solid rgba(var(--error-400-rgb), 0.25);
    }

    svg {
      stroke: var(--error-color);
    }
  }

  &.gray {
    color: var(--text-color);
    background-color: transparent;
    border: 1px solid var(--gray-800);

    &:hover {
      background-color: var(--gray-700);
    }

    svg {
      stroke: var(--text-color);
    }
  }

  &.disabled {
    // add respective color schemes
    opacity: 0.5;
    pointer-events: none;
  }

  &.borderless {
    border: 1px solid transparent;
  }
}

// DASH RELATED
// DASH TASK LIST RELATED
.task-list {
  .task-item {
    .status {
      background-color: transparent;

      &.done {
        color: var(--primary-800);

        &:hover {
          color: var(--primary-600);
        }
      }

      &.pending {
        color: var(--text-600);

        &:hover {
          color: var(--text-500);
        }
      }
    }
  }
}

// CALENDAR RELATED
// CALENDAR VIEW RELATED
.calendar-view-header {
  .borderless {
    border: 1px solid transparent;
  }
}

.calendar-days {
  .calendar-day {
    border: 1px solid transparent;
    background-color: transparent;
    padding: $spacing-xs 0;
    text-align: center;
    border-radius: $border-radius-xs;

    &.null {
      color: var(--text-400);
      &:hover {
        background-color: transparent;
        border-color: transparent;
        cursor: default;
      }
    }

    &.today {
      color: var(--error-800);
    }

    @include clickableContainer;
  }
}

// BANK RELATED
// BANK TIME FRAME RELATED
.bank-time-frame {
  .borderless {
    border: 1px solid transparent;
  }
}

// BANK FORM RELATED
.transaction-form-btns {
  @include flex(row, center);
  gap: $spacing-sm;
}

// TREE PAGE RELATED
.tree-header-ellipsis {
  margin-left: auto;
}