$budget-types: (
  made: $pending-color,
  spent: $error-color,
  // saved: $done-color,
);

@each $type, $color in $budget-types {
  .finance-card.#{$type} {
    svg {
      stroke: $color;
    }
  }
}

.finance-card {
  border: 1px solid $text-color;
  padding: $spacing-sm;
  border-radius: $border-radius-xs;
  @include flex(row, space-between);

  p {
    color: $text-color;
  }

  .amount {
    @include flex(row, initial, center);
    font-size: $font-size-lg;

    span {
      font-size: $font-size-sm;
      color: gray;
      margin-right: $spacing-xs;
    }
  }

  svg {
    font-size: 20px;
  }
}

.transaction-card {
  @include flex(row);
  gap: $spacing-sm;
  min-width: 0;

  .transaction-card-icon {
    @include flex(row, center, center);
    @include box(40px);
    font-size: 23px;
    border-radius: $border-radius-sm;
    flex-shrink: 0;
  }

  .transaction-card-body {
    @include flex(column, center);
    flex: 1;
    overflow: hidden;
    width: 100%;
    min-width: 0;

    .transaction-card-info,
    .transaction-card-time {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .transaction-card-time {
        color: gray;
    }
  }

  .transaction-card-footer {
    @include flex(column, center, flex-end);
    flex-shrink: 0;
    width: 100px;
    margin-right: 0;
    text-align: right;

    .transaction-card-category {
        color: gray;
    }
  }
}

$filter-types: (
  need: $dev-color,
  fun: $misc-color,
  sub: $pending-color,
  // save: $done-color,
);

@each $type, $color in $filter-types {
  .transaction-card-icon.#{$type} {
    
    svg {
      fill: $color;
      stroke: $color;
    }
  }
}
