// CALENDAR LIST RELATED
.calendar-list-body {
  .calendar-list-item {
    position: relative;
    text-align: left;
    background-color: transparent;
    padding: $spacing-sm;
    @include clickableContainer;
    border: 1px solid var(--gray-600);

    .event-sub {
      color: var(--text-600);

      .branch {
        font-weight: $font-weight-bold;
        font-size: $font-size-md;
        color: var(--accent-600);
      }
    }
  }
}

// TRANSACTION LIST RELATED
.transaction-card {
  width: 100%;
  background-color: transparent;
  border-radius: $border-radius-xs;
  border: 1px solid var(--gray-600);
  padding: $spacing-sm;
  @include flex(column);
  gap: $spacing-xs;
  @include clickableContainer;

  .card-row,
  .card-row {
    @include flex(row, initial, center);

    p {
      text-align: left;
    }

    .transaction-info,
    .transaction-date {
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .transaction-amount,
    .transaction-category {
      margin-left: $spacing-xs;
    }

    .transaction-date,
    .transaction-category {
      font-size: $font-size-xs;
      color: var(--text-600);
    }

    .branch {
      font-weight: $font-weight-bold;
      font-size: $font-size-md;
      color: var(--accent-600);
      margin-right: $spacing-sm;
    }

    .transaction-amount {
      color: var(--primary-800);
    }
  }
}

// Temp Tree Card
.home-tree-card {
  border: 1px solid var(--gray-800);
  width: 100%;
  padding: $spacing-sm;
  
  .tree-card-body {
    @include flex(row, initial, center);
    width: 100%;
  }
  
  .tree-card-title {
    @include flex(row, initial, center);
    flex: 1;
    min-width: 0;
    gap: $spacing-xs;
    
    p {
      min-width: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    
    .icon {
      @include box(20px);
      background-color: transparent;
    }
  }
  
  .tree-card-id {
    color: var(--text-600);
    margin-left: auto;
    font-size: $font-size-xs;
  }
  
  .tree-card-previews {
    @include flex(column);

    .branch {
      margin: 0 $spacing-xs;
      font-weight: $font-weight-bold;
      font-size: $font-size-md;
      color: var(--accent-600);
    }
    
    .tree-preview {
      margin-top: $spacing-xs;
      @include flex(row, flex-start, flex-start);
      gap: $spacing-xs;

      .highlighted {
        border-bottom: 1px solid yellow;
        color: yellow;
      }
    }
  }

  @include clickableContainer;
}

@media (max-width: 575px) {
  .tree-card-id {
    display: none !important;
  }
}