// CALENDAR LIST RELATED
.calendar-list-body {
  .calendar-list-item {
    position: relative;
    text-align: left;
    background-color: transparent;
    padding: $spacing-xs;
    @include clickableContainer;
    border: 1px solid transparent;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: calc(-#{$spacing-sm / 2} - 2px);
      height: 1px;
      background-color: var(--gray-600);
    }

    &:last-child::after {
      content: none;
    }

    .event-header {
        font-size: $font-size-md;
    }

    .event-sub {
        color: var(--text-600);

        .branch {
            font-weight: $font-weight-bold;
            font-size: $font-size-md;
            color: var(--accent-600);
        }
    }
  }
}
