.simple-select {
  height: 30px;
  border-radius: $border-radius-xs;
  width: fit-content;
}

.select-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: $border-radius-xs;
}

.select-box {
  padding: 0 $spacing-sm;
  height: 30px;
  @include flex(row, center, center);
  cursor: pointer;
  border-radius: $border-radius-xs;

  &.primary {
    background-color: var(--primary-200);
    border: 1px solid rgba(var(--primary-300-rgb), 0.25);

    &:hover {
      background-color: var(--primary-300);
      border: 1px solid rgba(var(--primary-400-rgb), 0.25);
    }

    svg {
      stroke: var(--primary-color);
    }
  }

  &.accent {
    color: var(--accent-color);
    background-color: var(--accent-200);
    border: 1px solid rgba(var(--accent-300-rgb), 0.25);

    &:hover {
      background-color: var(--accent-300);
      border: 1px solid rgba(var(--accent-400-rgb), 0.25);
    }

    svg {
      stroke: var(--accent-color);
    }
  }

  &.error {
    color: var(--error-color);
    background-color: var(--error-200);
    border: 1px solid rgba(var(--error-300-rgb), 0.25);

    &:hover {
      background-color: var(--error-300);
      border: 1px solid rgba(var(--error-400-rgb), 0.25);
    }

    svg {
      stroke: var(--error-color);
    }
  }

  &.gray {
    color: var(--text-color);
    background-color: var(--gray-500);
    border: 1px solid var(--gray-800);

    &:hover {
      background-color: var(--gray-700);
    }

    svg {
      stroke: var(--text-color);
    }
  }

  svg {
    @include flex(row, center, center);
  }
}

.options-list {
  border-radius: $border-radius-xs;
  position: absolute;
  top: calc(30px + $spacing-xs);
  list-style: none;
  overflow-y: auto;
  z-index: 2;
}

.option {
  height: 30px;
  @include flex(row, center, center);
  cursor: pointer;
  padding: 0 $spacing-sm;
  border: 1px solid transparent;

  &.primary {
    background-color: var(--primary-200);

    &:hover {
      background-color: var(--primary-300);
      border: 1px solid rgba(var(--primary-400-rgb), 0.25);
    }

    svg {
      stroke: var(--primary-color);
    }
  }

  &.accent {
    background-color: var(--accent-200);

    &:hover {
      background-color: var(--accent-300);
      border: 1px solid rgba(var(--accent-400-rgb), 0.25);
    }

    svg {
      stroke: var(--accent-color);
    }
  }

  &.error {
    background-color: var(--error-200);

    &:hover {
      background-color: var(--error-300);
      border: 1px solid rgba(var(--error-400-rgb), 0.25);
    }

    svg {
      stroke: var(--error-color);
    }
  }

  &.gray {
    background-color: var(--gray-500);

    &:hover {
      background-color: var(--gray-800);
    }

    svg {
      stroke: var(--text-color);
    }
  }
}

.option:hover {
  &.primary {
    background-color: var(--primary-300);
  }

  &.accent {
    background-color: var(--accent-300);
  }

  &.error {
    background-color: var(--error-300);
  }

  &.gray {
    background-color: var(--gray-700);
  }
}
// SQUARE DROPDOWN

.simple-select.square {
  width: 30px;
}

.select-box.square {
  padding: 0 0;
}

.options-list.square {
  width: 30px;
}

.option.square {
  height: 30px;
  padding: 0 0;
}

.tree-node-dropdown {
  margin-left: auto;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.tree-node-dropdown-menu {
  @include flex(column);
  border-radius: $border-radius-xs;
  background-color: rgba(0, 0, 0, 0.717);

  button {
    background: transparent;
    padding: $spacing-xs $spacing-sm;

    &:hover {
      background-color: var(--mind-300);
    }
  }
}