input {
  outline: none;
  font-family: "IBM Plex Mono";
}

.standard-input {
  background-color: $gray-dark;
  padding: $spacing-xs $spacing-sm;
  color: $secondary-color;
  outline: none;
  font-family: "IBM Plex Mono";
  transition: color $transition-instant;
  border-radius: $border-radius-xs;
  height: 32px;

  &:focus {
    color: $primary-color;
  }
}

#todo-form {
  @include flex(column);
  width: 100%;
  gap: $spacing-sm;
}

.todo-form-row {
  @include flex(row, flex-start);
  min-width: 0px;
  width: 100%;
  gap: $spacing-sm;
}

#task-tag-editor {
  @include flex(row);
  gap: $spacing-sm;
  min-width: 0px;
}

.todo-name-input {
  flex: 1;
}

@media (min-width: #{$breakpoint-xs}) {
  #todo-form {
    max-width: none;
    width: 100%;
    flex-direction: row;
  }

  .todo-form-row {
    display: contents;
  }

  .todo-name-input {
    width: 20%;
    max-width: 170px;
  }

  .todo-info-input {
    flex: 1;
  }

  input {
    min-width: 0;
  }

  .todo-form-submit {
    max-width: 100px;
  }
}

#calendar-overlay {
  background-color: color-fade($primary-color, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: $border-radius-sm;
}

#calendar-form-button-section {
  @include flex(row);
  gap: $spacing-sm;

  #calendar-submit-button {
    flex: 1;
  }

  #calendar-delete-button {
    padding: 0 $spacing-md;
    border-radius: $border-radius-xs;
    background-color: transparent;
    border: 1px solid color-fade($error-color, 0.65);
    @include flex(row, center, center);
    transition: border $transition-instant;

    svg {
      fill: color-fade($error-color, 0.65);
      transition: fill $transition-instant;
    }

    &:hover {
      border: 1px solid $error-color;

      svg {
        fill: $error-color;
      }
    }
  }
}

#transaction-form {
  @include flex(column);
  gap: $spacing-sm;
  min-width: 0;
  border-radius: $border-radius-sm;
  padding: $spacing-md;
  background-color: $secondary-background-color;

  h6 {
    text-align: center;
    font-size: $font-size-md;
    font-weight: 400;
  }

  .transaction-form-row {
    @include flex(row, initial, center);
    gap: $spacing-sm;
  }

  #transaction-form-amount,
  #transaction-form-date {
    flex: 1;
    min-width: 0;
  }

  #category-buttons {
    @include flex(row);
    gap: $spacing-sm;
    width: min-content;
  }

  #finance-form-payment-type {
    @include flex(row);
    position: relative;
    padding: $spacing-xs $spacing-sm;
    gap: $spacing-sm;
    border: 1px solid color-fade($primary-color, 0.5);
    border-radius: $border-radius-sm;
    height: 100%;
    overflow: hidden;

    #finance-form-payment-slider {
      position: absolute;
    }
  }
}

#mind-search-container {
  input {
    flex: 1;
    background-color: transparent;
    color: $secondary-color;
    transition: color $transition-fast;

    &:focus {
      color: $primary-color;
    }
  }
}
