input {
  outline: none;
  font-family: 'IBM Plex Mono';
  font-size: $font-size-sm;
}

.text-field {
  @include flex(column, flex-start);
  gap: $spacing-xs;
  border-radius: $border-radius-xs;
  font-weight: 400;
  min-width: 0;
  width: 100%;

  .input-section {
    width: 100%;
    min-width: 0;
    @include flex(row, flex-start, center);
    border-radius: $border-radius-xs;
    border: 1px solid transparent;
    gap: $spacing-xs;
    height: 30px;
    font-size: $font-size-sm;
    padding: 0 $spacing-xs;
    background-color: var(--gray-200);
    transition: border-color $transition-instant;

    input {
      min-width: 0;
      flex: 1;
      height: 100%;
      background-color: transparent;

      transition: border-color $transition-instant;
    }

    &.primary {
      border: 1px solid var(--primary-500);

      svg {
        stroke: var(--primary-color);
      }
    }

    &.accent {
      border: 1px solid var(--accent-500);

      svg {
        stroke: var(--accent-color);
      }
    }

    &.error {
      border: 1px solid var(--error-500);

      svg {
        stroke: var(--error-color);
      }
    }

    &.gray {
      border: 1px solid var(--gray-800);

      svg {
        stroke: var(--text-color);
      }
    }

    &.focused {
      &.primary {
        border: 1px solid var(--primary-700);
      }
  
      &.accent {
        border: 1px solid var(--accent-700);
      }
  
      &.error {
        border: 1px solid var(--error-700);
      }
  
      &.gray {
        border: 1px solid var(--primary-700);
      }
    }
  }
}

// TASK RELATED

.task-form {
  @include flex(row);
  gap: $spacing-sm;
  width: 100%;
  max-width: 400px;

  .text-field {
    flex: 1;
  }
}

// EVENT RELATED

.event-form {
  @include flex(column);
  gap: $spacing-sm;

  h5 {
    text-align: center;
    background-color: var(--gray-500);
    padding: $spacing-xs;
    border-radius: $border-radius-xs;
  }

  .time-row {
    @include flex(row, initial, center);
    gap: $spacing-xs;

    .text-field {
      width: 55px;
    }
  }

  .event-form-submit {
    margin: auto;
  }
}