.icon {
    width: min-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 30px;
    aspect-ratio: 1/1;
    border-radius: $border-radius-xs;

    &.primary {
        background-color: var(--primary-200);   
        
        &.fill {
            svg {
                fill: var(--primary-color);
            }
        }

        &.stroke {
            svg {
                stroke: var(--primary-color);
            }
        }
      }
    
      &.accent {
        background-color: var(--accent-200);

        &.fill {
            svg {
                fill: var(--accent-color);
            }
        }

        &.stroke {
            svg {
                stroke: var(--accent-color);
            }
        }
      }
    
      &.border {
        background-color: var(--gray-600);

        &.fill {
            svg {
                fill: var(--text-color);
            }
        }

        &.stroke {
            svg {
                stroke: var(--text-color);
            }
        }
      }
}

.small-icon {
    width: 32px;
    height: 32px;
    
}