.icon {
    width: min-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 30px;
    aspect-ratio: 1/1;
    border-radius: $border-radius-xs;

    &.primary {
        background-color: var(--primary-200);   
        
        &.fill {
            svg {
                fill: var(--primary-color);
            }
        }

        &.stroke {
            svg {
                stroke: var(--primary-color);
            }
        }
      }
    
      &.accent {
        background-color: var(--accent-200);

        &.fill {
            svg {
                fill: var(--accent-color);
            }
        }

        &.stroke {
            svg {
                stroke: var(--accent-color);
            }
        }
      }

      &.error {
        background-color: var(--error-200);

        &.fill {
            svg {
                fill: var(--error-color);
            }
        }

        &.stroke {
            svg {
                stroke: var(--error-color);
            }
        }
      }
    
      &.gray {
        background-color: var(--gray-600);

        &.fill {
            svg {
                fill: var(--text-color);
            }
        }

        &.stroke {
            svg {
                stroke: var(--text-color);
            }
        }
      }

      &.sm {
        width: 30px;
        height: 30px;
      }

      &.md {
        width: 36px;
        height: 36px;
      }

      &.lg {
        width: 48px;
        height: 48px;
      }
}