.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(var(--gray-100-rgb), 0.5);
    @include flex(row, center, center);
    z-index: $z-overlay;
}

.modal {
    margin: $spacing-md;
    background-color: var(--gray-600);
    border-radius: $border-radius-xs;
    width: 100%;
    max-width: 500px;
    padding: $spacing-md;
    z-index: $z-modal;
}