.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(var(--gray-100-rgb), 0.5);
    @include flex(row, center, center);
    z-index: $z-overlay;
    overflow-y: scroll;
}

.modal {
    margin: $spacing-md;
    background-color: rgb(23, 29, 30);
    border-radius: $border-radius-xs;
    width: 100%;
    max-width: 500px;
    max-height: 90vh;
    padding: $spacing-md;
    z-index: $z-modal;
    overflow: scroll;
}

.insert-child-modal {
    @include flex(column, center, center);
    gap: $spacing-lg;

    .insert-button-options {
        @include flex(row, center, center);
        width: 100%;
        gap: $spacing-sm;

        button {
            height: 30px;
        }
    }
}