.row-select-container {
  @include flex(column);
  gap: $spacing-xs;
}

.row-select {
  @include flex(row, initial, center);
  border: 1px solid var(--gray-800);
  border-radius: $border-radius-xs;
  width: fit-content;
  gap: $spacing-xs;
  padding: 0 $spacing-xs;
  height: 30px;

  &:hover {
    cursor: pointer;
  }

  p {
    color: var(--text-600);
    padding: 0 $spacing-xs;
    border-radius: $border-radius-xs;
    transition: color $transition-instant, background-color $transition-instant;

    &.active {
      color: var(--text-800);

      &.primary {
        background-color: rgba(var(--primary-400-rgb), 0.7);
      }

      &.accent {
        background-color: rgba(var(--accent-400-rgb), 0.7);
      }

      &.error {
        background-color: rgba(var(--error-400-rgb), 0.7);
      }
    }

    &:hover {
      color: var(--text-800);
    }
  }
}

.custom-select {

  &__control {
    outline: none;
    background-color: var(--gray-200) !important;
    border: 1px solid var(--gray-800) !important;
    box-shadow: none !important;
    
    &:hover {
      cursor: pointer;
    }
  }
  
  &__control--is-focused {
    border-color: var(--primary-800) !important;
  }
  
  &__value-container {
    padding: $spacing-xs !important;
    background-color: transparent;
  }
  
  &__multi-value {
    position: relative;
    border: 1px solid var(--primary-800) !important;
    background-color: transparent !important;
    padding: 0 !important;
  }

  &__multi-value__label {
    font-size: $font-size-sm !important;
    padding: 0px $spacing-xs !important;
    color: white !important;
  }

  &__multi-value__remove {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    padding: 0 !important;

    svg {
      display: none;
    }
  }

  &__menu {
    max-width: 120px;
    border: 1px solid var(--gray-800);
    // MAKE BG GLASSMORPHISM
    background-color: black !important;
  }

  &__option {
  }

  &__option--is-focused {
    background-color: var(--gray-600) !important;
  }

  &__placeholder {
    color: var(--text-600) !important;
  }

  &__input {
    color: var(--text-800) !important;
  }

  // &__indicators {
  //   display: none !important;
  // }

  &__indicator-separator {
    display: none !important;
  }

  &__dropdown-indicator {
    display: none !important;
  }
}

.tree-category-select {
  .custom-select__control {
    border: 1px solid var(--gray-400) !important;
    padding: $spacing-xs !important;
    min-height: 22px;
  }

  .custom-select__control--is-focused {
    border-color: var(--gray-800) !important;
  }

  .custom-select__placeholder {
    color: var(--accent-700) !important;
  }

  .custom-select__value-container {
    padding: 0 !important;
    gap: $spacing-sm;
  }

  .custom-select__multi-value {
    border: 1px solid transparent !important;
    min-height: 0;
    margin: 0 !important;
  }

  .custom-select__multi-value__label {
    padding: 0 !important;
    color: var(--accent-700) !important;
  }

  .custom-select__indicators {
    display: none !important;
  }

  .custom-select__input-container {
    font-size: 0 !important;
  }
}
