.terminal-box-container {
  width: 100%;
  position: relative;

  .terminal-box-header {
    position: absolute;
    padding: 0 $spacing-xs;
    left: $spacing-sm;
    top: calc(-#{$spacing-sm});
    // Match background color of whats behind this component
    background-color: var(--primary-100);
  }

  .terminal-box-body {
    padding: $spacing-sm;
    padding-top: calc($spacing-sm + $spacing-xs);
  }

  &.primary {
    .terminal-box-header {
      border-right: 1px solid var(--primary-500);
      border-left: 1px solid var(--primary-500);
      color: var(--primary-800);
    }

    .terminal-box-body {
      border: 1px solid var(--primary-500);
    }
  }

  &.error {
    .terminal-box-header {
      border-right: 1px solid var(--error-500);
      border-left: 1px solid var(--error-500);
      color: var(--error-800);
    }

    .terminal-box-body {
      border: 1px solid var(--error-500);
    }
  }

  &.accent {
    .terminal-box-header {
      border-right: 1px solid var(--accent-500);
      border-left: 1px solid var(--accent-500);
      color: var(--accent-800);
    }

    .terminal-box-body {
      border: 1px solid var(--accent-500);
    }
  }

  &.gray {
    .terminal-box-header {
      border-right: 1px solid var(--gray-800);
      border-left: 1px solid var(--gray-800);
      color: var(--text-800);
    }

    .terminal-box-body {
      border: 1px solid var(--gray-800);
    }
  }
}
